.Divider {
  margin: 10px 0;
}

.Divider-Center {
  text-align: center;
  margin: 10px 0;
}

.DividerToday {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 1.7rem;
    font-weight: 300;
  }
}
