.Header {
  z-index: 2;
  position: fixed;
  background-color: $Primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 35px;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);

  .logoPlace {
    position: relative;
    a {
      color: $White;
      text-decoration: none;
    }
  }

  nav {
    button {
      color: $White;
      text-decoration: none;
      font-size: 2rem;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
    }
  }
}
